<div class="col-auto col-md-3 col-xl-2 mx-0 px-0 bg-dark">
          <div
            class="
              d-flex
              flex-column
              align-items-center align-items-sm-start
              px-3
              pt-2
              text-white
              min-vh-100
            "
          >
            <a
              href="index.html"
              class="
                d-flex
                align-items-center
                pb-3
                mb-md-0
                me-md-auto
                text-white text-decoration-none
              "
            >
              <h2 class="fs-4 d-none text-white d-sm-inline text-primary">
                <i class="fa fa-home"></i> Bang dieu khien
              </h2>
            </a>
            <ul
              class="
                nav nav-pills
                flex-column
                mb-sm-auto mb-0
                align-items-center align-items-sm-start
              "
              id="menu"
            >
              <li class="nav-item">
                <h4 class="mx-1 d-none d-sm-inline text-primary">Thiet bi</h4>
                <ul style="list-style-type: none">
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="listDevice.html">
                      <i class="fa fa-book-open"></i>
                      Danh sach thiet bi
                    </a>
                  </li>
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="addDevice.html">
                      <i class="fa fa-plus-circle"></i>
                      Them thiet bi
                    </a>
                  </li>
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="index.html">
                      <i class="fa fa-chart-line"></i>
                      Thong ke
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <h4 class="ms-1 d-none d-sm-inline text-primary">Loai thiet bi</h4>
                <ul style="list-style-type: none">
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="listTypeDevice.html">
                      <i class="fa fa-book-open"></i>
                      Danh sach loai thiet bi
                    </a>
                  </li>
                  <li class="p-2">
                    <a class="text-white text-decoration-none fs-5" href="addTypeDevice.html">
                      <i class="fa fa-plus-circle"></i>
                      Them loai thiet bi
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <hr />
            <div class="pb-4">
              <ul class="" style="list-style-type: none">
                <li class="px-4">
                  <a class="text-white text-decoration-none fs-5" href="changePassword.html"
                    ><i class="fa fa-user-edit"></i> Doi mat khau</a
                  >
                </li>
                <li class="p-4">
                  <a class="text-white text-decoration-none fs-5" href="#"
                    ><i class="fa fa-sign-out-alt"></i> Dang xuat</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
