<div class="col-auto col-md-3 col-xl-2 mx-0 px-0 bg-dark">
          <div
            class="
              d-flex
              flex-column
              align-items-center align-items-sm-start
              px-3
              pt-2
              text-white
              min-vh-100
            "
          >
            <a
              href="/"
              class="
                d-flex
                align-items-center
                pb-3
                mb-md-0
                me-md-auto
                text-white text-decoration-none
              "
            >
              <h2 class="fs-4 d-none text-white d-sm-inline text-primary">
                <i class="fa fa-home"></i> Bảng điều khiển

              </h2>
            </a>
            <ul
              class="
                nav nav-pills
                flex-column
                mb-sm-auto mb-0
                align-items-center align-items-sm-start
              "
              id="menu"
            >
              <li class="nav-item">
                <h4 class="mx-1 d-none d-sm-inline text-primary">Thiết bị
                </h4>
                <ul style="list-style-type: none">
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="/list-device">
                      <i class="fa fa-book-open"></i>
                      Danh sách thiết bị
                    </a>
                  </li>
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="/list-device/add">
                      <i class="fa fa-plus-circle"></i>
                      Thêm thiết bị
                    </a>
                  </li>
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="/">
                      <i class="fa fa-chart-line"></i>
                      Thống kê
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <h4 class="ms-1 d-none d-sm-inline text-primary">Loại thiết bị
                </h4>
                <ul style="list-style-type: none">
                  <li  class="p-2">
                    <a  class="text-white text-decoration-none fs-5" href="/list-catogory">
                      <i class="fa fa-book-open"></i>
                      Danh sách loại thiết bị
                    </a>
                  </li>
                  <li class="p-2">
                    <a class="text-white text-decoration-none fs-5" href="/list-catogory/add">
                      <i class="fa fa-plus-circle"></i>
                      Thêm loại thiết bị
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <hr />
            <div class="pb-4">
              <ul class="" style="list-style-type: none">
                <li class="px-4">
                  <a class="text-white text-decoration-none fs-5" href="/change-password"
                    ><i class="fa fa-user-edit"></i> Đổi mật khẩu</a
                  >
                </li>
                <li class="p-4">
                  <a class="text-white text-decoration-none fs-5" href="#"
                    ><i class="fa fa-sign-out-alt"></i> Đổi mật khẩu</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>