<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1 id="title">Thêm thiết bị:</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row mx-2 justify-content-center">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 border rounded white-box">
            <h2 class="text-center">Nhập đầy đủ thông tin thiết bị:</h2>
            <hr />
            <form method="POST" action="/list-device/create">
              <table class="table">

                <tr>
                  <th scope="row">Tên thiết bị:</th>
                  <td>
                    <input required type="text" name="tenthietbi" id="tenthietbi" minlength="1" maxlength="50"/>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Loại thiết bị
                    :</th>
                  <td>
                    <select name="idloai" id="idloai">
                      {{#each loaithietbi}}
                        <option  value="{{this.idloai}}">{{this.tenloai}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Tài khoản thiết bị:</th>
                  <td>
                    <input required type="text" name="taikhoan" id="taikhoan" minlength="1" maxlength="30"/>
                  </td>
                </tr>

                <tr>
                  <th scope="row">Mật khẩu thiết bị:</th>
                  <td>
                    <input type="password" name="matkhau" id="password" minlength="1" maxlength="50">
                  </td>
                </tr>

                <tr>
                  <th scope="row">Nhập lại mật khẩu thiết bị:</th>
                  <td>
                    <input type="password" id="confirmPassword" minlength="1" maxlength="50">
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                  </th>
                  <td>
                    <button id="save-btn" type="submit" class="btn btn-success" disabled="disabled"><i
                      class="fa fa-plus"></i>Thêm thiết bị
                    </button>
                    <button id="xoa" type="reset" class="btn btn-danger">
                      <i class="fa fa-eraser"></i>
                      Xoá
                    </button>
                  </td>
                </tr>
              </table>
            </form>
            <script>
              (function ($, window, document) {
                $(function () {
                  $("form input").on({
                    "keyup": function () {
                      var pass = $('#password').val();
                      var confirmPass = $('#confirmPassword').val();
                      var saveButton = $("#save-btn");
                      if (pass == confirmPass) {
                        saveButton.removeAttr('disabled');
                      } else {
                        saveButton.attr('disabled', 'disabled');
                      }
                    }
                  });
                });
              }(window.jQuery, window, document));
            </script>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
