<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1>Thêm loại thiết bị
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box">
          <h2 class="text-center">Nhập đầy đủ thông tin loại thiết bị
            :</h2>
          <hr />
          {{!-- {{#if message}}
          <div class="alert alert-success" role="alert">
            <h4>Thêm loại thiết bị {{message}}!</h4>
          </div>
          {{/if}} --}}
          <form method="POST" action="/list-catogory/insert">
            <table class="table">
              <tr>
                <th scope="row">Tên loại thiết bị
                  :</th>
                <td>
                  <input required type="text" name="tenloai" id="tenloai" />
                </td>
              </tr>

              <tr>
                <th scope="row">Mô tả loại thiết bị:</th>
                <td>
                  <input required type="text" name="mota" id="mota" />
                </td>
              </tr>
              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="them" type="submit" class="btn btn-success" onclick="myFunction()">
                    <i class="fa fa-plus"></i>
                    Thêm loại thiết bị
                  </button>
                  <button id="xoa" type="reset" class="btn btn-danger">
                    <i class="fa fa-eraser"></i>
                    Xoá
                  </button>
                </td>
              </tr>
            </table>
          </form>
          <script type="text/javascript">
            function myFunction() {
              confirm('Xác nhận thêm loại thiết bị');
            }

            //var rp = {{message}};
            //if(rp!=""){
            //  alert(rp);
            //}
            //else{
            //  console.log("none");
            //}
          </script>
          {{#if message}}
          <p id="rpl" class="d-none">{{message}}</p>
          {{/if}}
          <script>
            var rp = document.getElementById("rpl").innerHTML;
            confirm(rp);
          </script>

        </div>
      </div>
    </div>
  </div>
</div>