<div class="page-wrapper">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                      <h1 >Thêm loại thiết bị
                      </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
              <div class="col">
                <div class="row mt-5">
                  <div class="col-md-3"></div>
                  <div class="col-md-6 border rounded white-box">
                    <h2 class="text-center">Nhập đầy đủ thông tin loại thiết bị
                      :</h2>
                    <hr />
                    <form action="">
                      <table class="table">
                        
                        <tr>
                          <th scope="row">Mã loại thiết bị
                            :</th>
                          <td>
                            <input
                              required
                              type="text"
                              name="maLoaiThietBi"
                              id="maLoaiThietBi"
                            />
                            <span class="text-danger"> *</span>
                          </td>
                        </tr>
                        
                        <tr>
                          <th scope="row">Tên loại thiết bị
                            :</th>
                          <td>
                            <input
                              required
                              type="text"
                              name="tenLoaiThietBi"
                              id="tenLoaiThietBi"
                            /><span class="text-danger"> *</span>
                          </td>
                        </tr>
                        
                        <tr>
                          <th scope="row">Mô tả loại thiết bị:</th>
                          <td>
                            <input required type="text" name="moTaLoaiThietBi" id="moTaLoaiThietBi" /><span class="text-danger"> *</span>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><span class="my-5">&nbsp;</span></td>
                        </tr>
                        <tr>
                          <th scope="row">
                          </th>
                          <td>
                            <button id="them" class="btn btn-success">
                              <i class="fa fa-plus"></i>
                              Thêm loại thiết bị
      
                            </button>
                            <button id="xoa" type="reset" class="btn btn-danger">
                              <i class="fa fa-eraser"></i>
                              Xoá
                            </button>
                          </td>
                        </tr>
                      </table>
                    </form>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
        </div>