<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <div class="d-flex justify-content-between" c>
          <h3 class="box-title">Thêm loại thiết bị</h3>
        </div>
        <div class="table-responsive">
          <form action="" method="post">
            <table class="table text-nowrap">
              <tr>
                <th class="border-top-0">Mã loại thiết bị
                </th>
                <td>
                  <input type="text" name="idLoaiThietBi" id="idLoaiThietBi" required>
                </td>
              </tr>
              <tr>
                <th class="border-top-0">Tên loại thiết bị
                </th>
                <td>
                  <input type="text" name="tenLoaiTB" id="tenLoaiTB" required>
                </td>
              </tr>
              <tr>
                <th class="border-top-0">Tài khoản thiết bị</th>
                <td>
                  <input type="text" name="tkTB" id="tkTB" required>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button id="them" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Thêm loại thiết bị
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>