<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1 id="title">Đổi mật khẩu</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box table-responsive">
          <form action="/update-password?_method=PUT" method="POST" onclick="md5pass()">
            <table class="table">
              <tr>
                <th scope="row">Mật khẩu cũ:</th>
                <td>
                  <input required type="password" id="oldPassword" />
                  <input type="hidden" name="matkhaucu" id="md5oldpassword" value=""/>
                </td>
              </tr>

                <tr>
                  <th scope="row">Mật khẩu mới:</th>
                  <td>
                    <input required type="password" id="password" minlength="1" maxlength="50">
                    <input type="hidden" name="matkhaumoi" id="md5password" value="">
                  </td>
                </tr>

                <tr>
                  <th scope="row">Nhập lại mật khẩu mới:</th>
                  <td>
                    <input required type="password" id="confirmPassword" minlength="1" maxlength="50">
                  </td>
                </tr>
                <tr>
              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="save-btn" disabled="disabled" type="submit" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                    Đổi mật khẩu
                  </button>
                </td>
              </tr>
            </table>
          </form>
          <script>
              (function ($, window, document) {
                $(function () {
                  $("form input").on({
                    "keyup": function () {
                      var pass = $('#password').val();
                      var confirmPass = $('#confirmPassword').val();
                      var saveButton = $("#save-btn");
                      if (pass!="" && pass == confirmPass) {
                        saveButton.removeAttr('disabled');
                      } else {
                        saveButton.attr('disabled', 'disabled');
                      }
                    }
                  });
                });
              }(window.jQuery, window, document));

            function md5pass(){
                document.getElementById("md5oldpassword").value = md5(document.getElementById("oldPassword").value);
                document.getElementById("md5password").value = md5(document.getElementById("password").value);
            }
          </script>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>