<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1 id="title">Đổi mật khẩu</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box table-responsive">
          <form action="">
            <table class="table">
              {{#each nguoidung}}
              <tr>
                <th scope="row">Tên tài khoản:</th>
                <td>
                  <input disabled type="text" name="tenTK" id="tenTK" value="{{this.taikhoan}}"/>
                </td>
              </tr>
              <tr>
                <th scope="row">Tên người dùng
                  :</th>
                <td>
                  <input disabled type="text" name="tenND" id="tenND" value="{{this.tennguoidung}}"/>
                </td>
              </tr>
              <tr>
                <th scope="row">Quyền người dùng
                  :</th>
                <td>
                  <input disabled type="text" name="quyenND" id="quyenND" value="{{this.quyen}}"/>
                </td>
              </tr>
              <tr>
                <th scope="row">Mật khẩu cũ:</th>
                <td>
                  <input required type="text" name="oldPassword" id="oldPassword" />
                </td>
              </tr>

              <tr>
                <th scope="row">Mật khẩu mới:</th>
                <td>
                  <input type="password" id="password">
                </td>
              </tr>

              <tr>
                <th scope="row">Nhập lại mật khẩu mới:</th>
                <td>
                  <input type="password" id="confirmPassword">
                </td>
              </tr>
              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="save-btn" type="submit" class="btn btn-success" disabled="disabled">
                    <i class="fa fa-edit"></i>
                    Đổi mật khẩu
                  </button>
                  <button id="xoa" type="reset" class="btn btn-danger">
                    <i class="fa fa-eraser"></i>
                    Xoá
                  </button>
                </td>
              </tr>
              {{/each}}
            </table>
          </form>
          <script>
            (function ($, window, document) {
              $(function () {
                $("form input").on({
                  "keyup": function () {
                    var pass = $('#password').val();
                    var confirmPass = $('#confirmPassword').val();
                    var saveButton = $("#save-btn");
                    if (pass == confirmPass) {
                      saveButton.removeAttr('disabled');
                    } else {
                      saveButton.attr('disabled', 'disabled');
                    }
                  }
                });
              });
            }(window.jQuery, window, document));
          </script>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>