<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h1 id="title">Chỉnh sửa mật khẩu
          thiết bị</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box">
          <h2 class="text-center">Cập nhật mật khẩu
            thiết bị:</h2>
          <hr />
          <form  action="/list-device/change-password/{{thietbi.idthietbi}}?_method=PUT" method="POST">
            <table class="table ">
              <tr>
                <th scope="row">Mật khẩu thiết bị
                  :</th>
                <td>
                  <input required type="password" name="oldPassword" id="oldPassword" />
                </td>
              </tr>
              <tr>
                <th scope="row">Mật khẩu thiết bị
                  :</th>
                <td>
                  <input required type="password" name="password" id="password" value="" />
                </td>
              </tr>

              <tr>
                <th scope="row">Nhập lại mật khẩu
                  thiết bị:</th>
                <td>
                  <input required type="password" name="confirmPassword" id="confirmPassword"
                    value="" />
                </td>
              </tr>

              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="save-btn" type="submit" onclick="myFunction()" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                    Cập nhật thông tin
                  </button>
                </td>
              </tr>
            </table>
          </form>
          <script>
            (function ($, window, document) {
              $(function () {
                $("form input").on({
                  "keyup": function () {
                    var pass = $('#password').val();
                    var confirmPass = $('#confirmPassword').val();
                    var saveButton = $("#save-btn");
                    if (pass == confirmPass) {
                      saveButton.removeAttr('disabled');
                    } else {
                      saveButton.attr('disabled', 'disabled');
                    }
                  }
                });
              });
            }(window.jQuery, window, document));
          </script>
          {{#if message}}
          <p id="rpl" class="d-none">{{message}}</p>
          {{/if}}
          <script>
            var rp = document.getElementById("rpl").innerHTML;
            alert(rp);
          </script>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>