<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <h1>
                Bảng thống kê
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Kết nối
                    </h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">{{soluong.dangketnoi}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Ngắt kết nối</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">{{soluong.ngatketnoi}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Số lượng kết nối</h3>
                    <canvas id="myChart" width="900" height="300"></canvas>
                    <script type="text/javascript">
                        var start = Date.now();
                        var ctx = document.getElementById("myChart");
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ["Đang kết nối", start],
                                datasets: [{
                                    label: 'Số lượng lệnh',
                                    data: [{{soluong.dangketnoi}}, {{soluong.ngatketnoi}}],
                                    backgroundColor: ['#d70206',
                                        '#f05b4f'
                                    ],
                                }]
                            },
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="setSession"></div>
</div>