<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="d-flex justify-content-between" c>
                    <h3 class="box-title">Loại thiết bị: {{this.idloai}}</h3>
                </div>
                <div class="table-responsive">
                    <form action="" method="post">
                        <table class="table text-nowrap">
                            <tr>
                                <th class="border-top-0">Mã loại thiết bị
                                </th>
                                <td>
                                    {{this.idloai}}
                                </td>
                            </tr>
                            <tr>
                                <th class="border-top-0">Tên loại thiết bị
                                </th>
                                <td>
                                    {{this.tenLoaiThietBi}}
                                </td>
                            </tr>
                            <tr>
                                <th class="border-top-0">Mô tả loại thiết bị</th>
                                <td>
                                    {{this.moTaLoaiThietBi}}
                                </td>
                            </tr>
                            <tr>
                                <th class="border-top-0"></th>
                                <td>
                                    <a id="chinhSua" href="#" class="btn btn-info">
                                        <i class="fa fa-edit"></i>
                                        Chỉnh sửa thông tin
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>