<div class="page-wrapper">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h1 id="title">Loại thiết bị: </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mt-md-5">
                    <div class="col-sm-12 col-md-4">
                        <div class="table-responsive white-box">
                            <table class="table text-nowrap">
                                {{#if loaithietbi}}
                                <tr>
                                    <th>Mã loại thiết bị
                                        :</th>
                                    <td><span id="maLoaiThietBi">{{this.idloai}}</span></td>
                                </tr>
                                <tr>
                                    <th>Tên loại thiết bị
                                        :</th>
                                    <td><span id="tenLoaiThietBi">{{this.tenloai}}</span></td>
                                </tr>
                                <tr>
                                    <th>Mô tả
                                        loại thiết bị:</th>
                                    <td><span id="moTaLoaiThietBi">{{this.mota}}</span></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><a id="chinhSua" href="/list-category/edit/{{this.idloai}}" class="btn btn-info"><i
                                                class="fa fa-edit"></i>Chỉnh sửa thông tin
                                        </a></td>
                                </tr>
                                {{/if}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>