<div class="row bg-light">
    <h1 id="title" class="mx-5 mt-3">Thiet bi: </h1>
</div>
<div class="row mt-5 mx-2 justify-content-around">
    <div class="col-md-5 border rounded p-4">
        <h2>Thong tin loai thiet bi:</h2>
        <hr>
        <table class="table">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Ma loai thiet bi:</th>
                <td><span id="maLoaiThietBi">Ma loai 1</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Ten loai thiet bi:</th>
                <td><span id="tenLoaiThietBi">Ten loai 1</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Mo ta loai thiet bi:</th>
                <td><span id="moTaLoaiThietBi">Mo ta loai 1</span></td>
            </tr>
            <tr>
                <td></td>
                <td><span class="my-5">&nbsp;</span></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td><a id="chinhSua" href="editInfoTypeDevice.html" class="btn btn-info"><i class="fa fa-edit"></i>Chinh
                        sua thong
                        tin</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4 border rounded p-4">
        <h2>Lich su hoat dong</h2>
        <hr>
        <div class="overflow-auto" style="height: 500px;">
            <ul class="p-0" style="list-style-type: none;">
                <li class="border rounded p-2">
                    test test test
                </li>
            </ul>
        </div>
    </div>
</div>