<div class="d-flex justify-content-between m-auto p-4 bg-light">
  <h2 class="">Danh sách thiết bị</h2>
  <form class="d-flex">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search"
        aria-describedby="basic-addon1" />
      <button class="input-group-text btn btn-outline-success" type="submit">
        Search
      </button>
    </div>
  </form>
  <div class="selectStatus">
    <button class="btn btn-success active">Đang kết nối</button>
    <button class="btn btn-danger">Ngắt kết nối</button>
  </div>
</div>
<div class="row p-5">
  <table class="table table-striped text-center ">
    <thead>
      <tr>
        <th class="col-md-1">Mã thiết bị</th>
        <th class="col-md-2">Tên thiết bị</th>
        <th class="col-md-4">Địa chỉ</th>
        <th class="col-md-1">Tài khoản</th>
        <th class="col-md-1">Trạng thái</th>
        <th class="col-md-2" colspan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MA 1</td>
        <td>Ten 1</td>
        <td>Dia chi 1</td>
        <td>Tài khoản 1</td>
        <td>
          <button class="btn btn-success">Đang kết nối</button>
        </td>
        <td>
          <form action="infoDevice.html">
            <button class="btn btn-info" type="submit">
              Xem chi tiết
            </button>
          </form>
        </td>
        <td>
          <button class="btn btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>MA 2</td>
        <td>Ten 2</td>
        <td>Dia chi 2</td>
        <td>Tài khoản 2</td>
        <td>
          <button class="btn btn-danger">Ngắt kết nối</button>
        </td>
        <td>
          <button class="btn btn-info">
            <i class="fa fa-info-circle"></i> Xem chi tiết
          </button>
        </td>
        <td>
          <button class="btn btn-danger">
            <i class="fa fa-trash-alt"></i> Xoá
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>