<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 class="d-inline-block">Danh sách đơn vị</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <a href="/list-unit/add/" class="btn btn-success">
                        Thêm đơn vị
                    </a>
                    {{#if message}}
            <p id="rpl" class="d-none">{{message}}</p>
            {{/if}}
            <script>
              var rp = document.getElementById("rpl").innerHTML;
              let ex = rp.slice(1, -1);
              alert(ex);
              window.location = 'http://localhost:3000/list-unit';
            </script>
                    <div class="table-responsive">
                        <table id="tbl" class="table text-nowrap text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn vị</th>
                                    <th scope="col">Tên đơn vị
                                    </th>
                                    <th scope="col">Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td id="pag"></td>
                                </tr>
                            </tfoot>
                        </table>
                        <script>
                            function myFunction(id) {
                                let r = confirm('Xác nhận xóa đơn vị');
                                if (r == true) {
                                    document.getElementById(id).submit();
                                    //alert(id);
                                }
                            }
                        </script>
                        <script>
                            if (document.readyState == "loading") {
                                document.addEventListener('DOMContentLoaded', App);
                            } else {
                                App();
                            }

                            function App() {
                                //common variables
                                let defaultIndex = 1,
                                    defaultPost = 5,
                                    listData = listDataGenerator(),
                                    pageIndex = Math.ceil(listData.length / defaultPost);

                                let wrapper = $('#tbl');
                                let pag = $('#pag');

                                let listDiv = document.createElement('tbody');
                                listDiv.classList.add('listStyle01');
                                wrapper.append(listDiv);


                                let listWrapper = document.querySelector('.listStyle01');

                                let pagiDiv = document.createElement('div');
                                pagiDiv.classList.add('pagination', 'm-3', 'justify-content-center');
                                pag.append(pagiDiv);

                                let pagiWrapper = document.querySelector('.pagination');

                                showPosts(listData, 0, defaultPost);
                                pagination(defaultIndex, pageIndex);

                                function showPosts(listData, startPos, endPost) {
                                    listWrapper.innerHTML = '';

                                    listData.slice(startPos, endPost).map(post => {
                                        listWrapper.innerHTML += (
                                            `<tr><th scope='row'>${post.iddonvi}</th><td>${post.tendonvi}</td><td><form id='${post.iddonvi}' class='d-inline-block' action='/list-unit/delete/${post.iddonvi}?_method=DELETE' method='post'><button type='button' class='btn btn-danger' data-toggle='tooltip' data-placement='top' title='Xoá' onclick='myFunction(${post.iddonvi})'><i class='fa fa-trash-alt'></i></button></form></td></tr>
                                            `);
                                    })
                                }

                                function pagination(index, pageLen = pageIndex) {
                                    pagiWrapper.innerHTML = '';
                                    let current = index,
                                        last = pageLen,
                                        delta = 2,
                                        left = current - delta,
                                        right = current + delta + 1,
                                        range = [],
                                        rangeWithDots = [],
                                        l = null;
                                    for (let i = 1; i <= last; i++) {
                                        if (i == 1 || i == last || i >= left && i < right) {
                                            range.push(i);
                                        }
                                    }

                                    for (let i of range) {
                                        if (l) {
                                            if (i - l === 2) {
                                                rangeWithDots.push(l + 1);
                                            } else if (i - l !== 1) {
                                                rangeWithDots.push('...');
                                            }
                                        }
                                        rangeWithDots.push(i);
                                        l = i;
                                    }

                                    for (let i = 0; i < rangeWithDots.length; i++) {
                                        let page = document.createElement('a');
                                        page.setAttribute('href', '/list-unit?page=' + (i + 1));
                                        if (rangeWithDots[i] == current) {
                                            page.classList.add('page', 'current', 'btn', 'btn-info');
                                        } else if (rangeWithDots[i] == '...') {
                                            page.addEventListener('click', e => e.preventDefault());
                                            page.classList.add('page', 'btn', 'border-info');
                                        } else {
                                            page.classList.add('page', 'btn', 'border-info');
                                            page.addEventListener('click', changePageIndex);
                                        }
                                        page.innerHTML = rangeWithDots[i];

                                        pagiWrapper.append(page);
                                    }

                                    showPosts(listData, (current * defaultPost) - defaultPost, (current * defaultPost));
                                }

                                function changePageIndex(event) {
                                    let clickedItem = Number(event.target.innerText);
                                    pagination(clickedItem);
                                }

                                function listDataGenerator(numPosts) {
                                    let listDataArray = [
                                        {{#each donvi}} {
                                            iddonvi: '{{this.iddonvi}}',
                                            tendonvi: '{{this.tendonvi}}'
                                        },
                                        {{/each}}
                                            ];
                                            return listDataArray;
                                        }
                                    }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>