<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách loại thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-catogory/add" class="btn btn-success">
            Thêm loại thiết bị
          </a>
          <div class="table-responsive">
            <table class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th scope="col">Mã loại thiết bị</th>
                  <th scope="col">Tên loại thiết bị
                  </th>
                  <th scope="col">Thao tác
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each loaithietbi}}
                <tr>
                  <th scope="row">{{this.idloai}}</th>
                  <td>{{this.tenloai}}</td>
                  <td>
                    <form class="d-inline-block" action="/list-catogory/detail/{{this.idthietbi}}" method="get">
                      <button class="btn btn-info" type="submit">
                        <i class="fa fa-info-circle"></i>
                        Xem chi tiết
                      </button>
                    </form>
                    <form class="d-inline-block" action="/list-catogory/delete/{{this.idthietbi}}?_method=DELETE"
                      method="DELETE">
                      <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash-alt"></i>
                        Xoá
                      </button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>