<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 class="d-inline-block">Danh sách đơn vị</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <a href="/list-unit/add/" class="btn btn-success">
                        Thêm đơn vị
                    </a>
                    <div class="table-responsive">
                        <table class="table text-nowrap text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn vị</th>
                                    <th scope="col">Tên đơn vị
                                    </th>
                                    <th scope="col">Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each donvi}}
                                <tr>
                                    <th scope="row">{{this.iddonvi}}</th>
                                    <td>{{this.tendonvi}}</td>
                                    <td>
                                        <form class="d-inline-block"
                                            action="/list-unit/delete/{{this.iddonvi}}?_method=DELETE" method="post">
                                            <button class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                                title="Xoá" onclick="myFunction()">
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <script>
                            function myFunction() {
                                alert('Xác nhận xóa thiết bị');
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>