<div class="page-wrapper">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h2 class="d-inline-block">Danh sách đơn vị</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <a href="addUnit.html" class="btn btn-success">
                                Thêm đơn vị
                            </a>
                            <div class="table-responsive">
                                <table class="table text-nowrap text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mã đơn vị</th>
                                            <th scope="col">Tên đơn vị
                                            </th>
                                            <th scope="col">Thao tác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>2</td>
                                            <td>
                                                <button class="btn btn-danger">
                                                    <i class="fa fa-trash-alt"></i> Xoá
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>