<div class="d-flex justify-content-between m-auto p-4 bg-light">
  <h2 class="">Danh sách loai thiết bị</h2>
  <form class="d-flex">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search"
        aria-describedby="basic-addon1" />
      <button class="input-group-text btn btn-outline-success" type="submit">
        Search
      </button>
    </div>
  </form>
</div>
<div class="row p-5">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Ma loai thiet bi</th>
        <th scope="col">Ten loai thiet bi</th>
        <th scope="col">Mo ta</th>
        <th scope="col">Thao tac</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <a href="infoTypeDevice.html" class="btn btn-info">
            <i class="fa fa-info-circle"></i> Xem chi tiet
          </a>
          <button class="btn btn-danger">
            <i class="fa fa-trash-alt"></i> Xoá
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
          <a href="editInfoTypeDevice.html" class="btn btn-info">
            <i class="fa fa-info-circle"></i> Xem chi tiet
          </a>
          <a href="#" class="btn btn-danger">
            <i class="fa fa-trash-alt"></i> Xoá
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>