<div class="page-wrapper ">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h1 id="title">Đăng nhập</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 bg-light">
        <div class="login-form p-4">
          <form action="/login" method="POST" class="row g-3">
            <h4>Xin chào
              !</h4>
            <div class="col-12">
              <label>Tài khoản:
              </label>
              <input type="text" name="taikhoan" id="taikhoan" class="form-control" placeholder="Tài khoản
                  " />
            </div>
            <div class="col-12">
              <label>Mật khẩu:
              </label>
              <input type="password" name="matkhau" id="matkhau" class="form-control" placeholder="Mật khẩu
                  " />
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-dark">Đăng nhập
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>