<div class="mt-4">
    <form action="" method="POST">
        <div class="mb-3">
            <label for="search-keyword" class="form-label">Nhập từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-keyword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>